{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section ">

<h5 class="text-muted">Know About👀</h5>
<h2>DevLink</h2>
<hr>
<p> Welcome to DevLink 🖐</p>

<p>We are a Brand New Blogging application designed with you in mind!
    There are no limits or rules to what can be posted. Just friendly place
    to blog, speak your mind and share information. Please Just be thoughtful,
    mindful, and polite to your fellow posters here!</p>

<p >We try to give our users the best experience in creative blogging and
    information sharing. With big social media platforms it's hard to wade through
    all the advertisements and false information being shared.
</p>

<p>We provide a low traffic place and a community
    for creative minds to come together.
    This is a place to share knowledge and new insights of whatever topic you choose.
</p>

<p>Feel free to create a free account and start posting today!</p>
</article>
{% endblock content %}
